SECRET_KEY=django-insecure-e241wv7_w4+)$nhonmsj#=)7g(j$i7ck%t*p4q*0=i4_zmtu5%

DATABASE_ENGINE=django.db.backends.postgresql_psycopg2
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=server-ip
DATABASE_PORT=5432